// @import "../css/_variables.scss";

$White: #ffffff;
$MainTextColor: #383838;
$SecondTextColor: #bfbfbf;
$BgColorMain: #eaf0f9;
$BgFooter: #10367c;
$BgButtons: #3077c6;
$BgStroke: #f3f3f4;

$NavUnderlineColor: #f5bd41;

$font-family: "Roboto";
$font-style: normal;
$font-size: 16px;
$line-height: 1.2;
$font-weight: normal;
