/* roboto-100 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("../fonts/roboto-v27-latin-100.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/roboto-v27-latin-300.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v27-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v27-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/roboto-v27-latin-900.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  margin: 0px auto;
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0px auto;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
}

.header {
  max-width: 1440px;
  margin: 0px auto;
  padding-top: 51px;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.header__logo {
  margin-left: 104px;
  width: 205px;
  height: 40px;
}

.header__nav {
  margin-right: 104px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 24px;
}

.header__item:nth-child(2n) {
  margin-right: 48px;
}

.header__item:nth-child(3n) {
  width: 30px;
  height: 30px;
  margin-right: 24px;
}

.header__item:last-child {
  width: 40px;
  height: 40px;
  margin-right: 0px;
}

.header__link {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.header__link:focus {
  border-bottom: solid 5px #bbff00;
  border-radius: 3px;
  transition: border-bottom 0.3s;
}

.main {
  box-sizing: border-box;
  max-width: 1440px;
  min-height: 100vh;
  background: url(../img/intro-bg.jpg) no-repeat;
  background-size: cover;
}

.content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1232px;
  margin: 202px 104px 120px 104px;
}

.content-title__text {
  max-width: 542px;
  max-height: 118px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  text-align: left;
  color: #ffffff;
}

.sbar__lables {
  display: flex;
  flex-wrap: wrap;
  padding-top: 104px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.sbar-lables__destination {
  margin-left: 24px;
}

.sbar-lables__date {
  margin-left: 221px;
}

.sbar__input {
  display: flex;
  flex-direction: row;
}

.sbar-input__destination {
  width: 467px;
  height: 64px;
  background: #ffffff;
  border: 3px solid #f3f3f4;
  box-sizing: border-box;
  border-radius: 8px;
}

.sbar__button {
  width: 78px;
  background-color: #10367c;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  font-size: 16px;
}

.market__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 120px auto 100px;
}

.offer__wrapper {
  margin: 0px auto;
  max-width: 1440px;
  padding: 120px 104px;
}

.offer__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #383838;
}

.offer__underline {
  width: 100px;
  height: 4px;
  margin: 20px auto;
  background: orange;
}

.items {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.item-icon__text {
  text-align: center;
  font-size: 24px;
  margin-top: 48px;
  padding-bottom: 24px;
}

.item__icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer {
  max-width: 1440px;
  margin: 0px auto 100px;
  background: #10367c;
}

.footer_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 119px 0 64px;
}

.footer__items {
  margin-left: 0px;
  align-content: space-between;
  text-align: justify;
}

.footer__items:nth-child() {
  align-content: center;
  text-align: justify;
}

.footer__items:last-child {
  margin-right: 0px;
  align-content: flex-end;
  text-align: justify;
}

footer h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: white;
}

footer li {
  color: red;
}

footer p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: white;
}

.copyright_block {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px 120px 104px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

/* Start styles for Devices whith max-whdth 360px*/
.footer-mobile {
  margin: 0px auto 20px;
  padding: 0px;
  width: 360px;
  height: 203px;
  background: #10367c;
}

.logo-mobile {
  padding: 40px 131px;
  align-items: center;
}

.logo-mobile img {
  width: 98px;
  height: 23px;
}

.footer-mobile__items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0px 67px;
}

.footer-mobile__items li {
  display: inline;
  flex: 1;
  margin-right: 7px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #ffffff;
}

.copyright-block__mobile {
  width: 219px;
  height: 14px;
  margin: 32px 70px;
}

.copyright-block__mobile p {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 361px) {
  div.footer-mobile {
    display: none;
  }
}
@media (max-width: 360px) {
  div.footer {
    display: none;
  }

  main {
    display: none;
  }

  .offer__wrapper {
    padding: 0;
  }

  .offer__title {
    font-size: 28px;
    line-height: 33px;
    margin-top: 24px;
    margin-right: 71px;
    margin-bottom: 35px;
    margin-left: 71px;
  }

  .offer__underline {
    width: 0;
    height: 0;
  }

  .items {
    flex-direction: column;
    justify-content: center;
  }

  .item-icon__text {
    margin-top: 19px;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
  }
}

/* End styles for Devices whith max-whdth 360px*/
