/* roboto-100 - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100;
	src: local(""), url("../fonts/roboto-v27-latin-100.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local(""), url("../fonts/roboto-v27-latin-300.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local(""), url("../fonts/roboto-v27-latin-500.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("../fonts/roboto-v27-latin-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local(""), url("../fonts/roboto-v27-latin-900.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

*,
*::after,
::before {
	box-sizing: inherit;
}

body {
	font-family: "Roboto";
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	color: #ffffff;
}

.main__wrapper {
	margin: 0px auto;
	max-width: 1440px;
	height: 100vh;
	background: url(../img/background_main.svg) no-repeat;
}

/*Header style start */

.header {
	margin: 0px auto;
	padding-top: 51px;
	margin-bottom: 200px;
}

.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
}

.header__logo {
	margin-left: 104px;
	width: 205px;
	height: 40px;
	background-image: url(../img/svg/logo.svg);
}

.header__logo > a {
	display: block;
	height: 100%;
}

.header__nav {
	margin-right: 104px;
}
.header__list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.header__item {
	margin-right: 24px;
}

.header__nav ul li:nth-child(3) {
	display: blocks;
	margin-left: 48px;
	width: 30px;
	height: 30px;
	background-image: url(../img/svg/day_mode.svg);
}

.header__item:nth-child(4) {
	display: block;
	width: 40px;
	height: 40px;
	margin-right: 0px;
	background-image: url(../img/svg/profile.svg);
}

.header__item:nth-child(4):active,
.header__item:nth-child(4):hover {
	display: block;
	width: 40px;
	height: 40px;
	margin-right: 0px;
	background-image: url(../img/svg/profile_active.svg);
}

.header__burger {
	display: none;
	margin-left: 12px;
	width: 24px;
	height: 16px;
	background-image: url(../img/svg/menu_mob.svg);
}

.header__link {
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: white;
	text-decoration: none;
	position: relative;
}

.header__link::after {
	content: "";
	position: absolute;
	top: 40px;
	left: 0%;
	width: 100%;
	height: 4px;
	background-color: #f5bd41;
	border-radius: 4px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.header__link:hover::after,
.header__link:focus::after,
.header__link:active::after {
	opacity: 1;
	transform-origin: center center center;
}

h1 {
	color: #fff;
	font-size: 50px;
	line-height: 60px;
	margin-left: 100px;
	margin-bottom: 100px;
}

.form__desktop {
	margin: 0px 100px 120px 100px;
	margin-bottom: 120px;
}

.form-desktop__wrapper {
	display: flex;
}

.form__desktop .input__lable {
	display: flex;
}

.form__desktop .input__lable > p:nth-child(2) {
	margin-left: 10rem;
}

.form-desktop__wrapper {
	display: flex;
}

.form__desktop .input__lable {
	display: flex;
}

.form__desktop .input__lable > p:nth-child(2) {
	margin-left: 10rem;
}

.form__desktop p {
	color: #fff;
	margin-bottom: 30px;
}

.form-desktop__wrapper {
	border: none;
	border-radius: 4px;
	background-color: #fff;
}

.form__desktop .sbar__second div {
	display: flex;
}

.form__desktop input {
	height: 65px;
	width: 100%;
	border: none;
	border-radius: 4px;
	outline: none;
}

.form__desktop .sbar__first {
	flex-grow: 3;
}

.form__desktop .sbar__second {
	flex-grow: 1;
}

.form__desktop .sbar__third {
	border-radius: 10px;
}

.form__desktop .sbar__third > input:focus {
	box-shadow: 0px 0px 0px 3px gold;
}

.form__desktop button {
	flex-grow: 3;
	height: 65px;
	background: blue;
	color: #fff;
	border: none;
	border-radius: 4px;
}

.market__links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px auto 120px;
}

/*Header style end */

.offer__wrapper {
	margin: 0px auto 120px;
	max-width: 1440px;
	padding: 120px 100px;
}

.offer__title {
	position: relative;
	margin: 0px auto 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 47px;
	text-align: center;
	color: #383838;
}

.offer__title::after {
	content: "";
	position: absolute;
	border-bottom: 4px solid #f5bd41;
	width: 10%;
	top: 70px;
	left: 45%;
}

.items {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}

.item-icon__text {
	text-align: center;
	font-size: 24px;
	margin-top: 48px;
	padding-bottom: 24px;
	color: #383838;
}

.item__icon {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

/* Start recommend style */
.recommend {
	margin: 0px auto;
	max-width: 1440px;
	background-color: #eaf0f9;
}

.recommend__wrapper {
	padding: 0px 104px;
}

.recommend__title {
	padding-top: 120px;
	padding-bottom: 100px;
	width: 100%;
	text-align: center;
	font-weight: 500;
	font-size: 40px;
	line-height: 47px;
	color: #383838;
}

.recommend-list__wrapper {
	padding-bottom: 150px;
}

.recommend__list {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	position: relative;
}

.recommend__list > li:last-child::after {
	content: "";
	position: absolute;
	background-image: url(../img/svg/arrow.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
	right: -10px;
	top: 130px;
}

.recommend__list > li {
	display: flex;
	flex-direction: column;
	width: calc(25% - 16px);
}

.recommend__list > li > a {
	padding: 24px 0px 24px;
	text-decoration: none;
	font-size: 24px;
	line-height: 28px;
	color: #3077c6;
}

.recommend__list > li > p {
	font-size: 24px;
	line-height: 28px;
	color: #bfbfbf;
}

/* End recommend style */

/* Start footer style */

.footer {
	max-width: 1440px;
	margin: 0px auto 100px;
	background: #10367c;
}

.footer_block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 119px 0 64px;
}

.footer__items {
	margin-left: 0px;
	align-content: space-between;
	text-align: justify;
}

.footer__items:nth-child() {
	align-content: center;
	text-align: justify;
}

.footer__items:last-child {
	margin-right: 0px;
	align-content: flex-end;
	text-align: justify;
}

footer h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: white;
}

footer li {
	color: red;
}

footer p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;
	color: white;
}

.copyright_block {
	display: flex;
	flex-wrap: wrap;
	padding: 0px 0px 120px 104px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}

/* Start styles for Devices whith max-whdth 800px*/

.footer-mobile {
	margin: 0px auto 20px;
	padding: 0px;
	width: 100%;
	background: #10367c;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.logo-mobile {
	width: 100px;
	height: 20px;
	background-image: url(../img/svg/logo_vector_mobile-footer.svg);
	background-repeat: no-repeat;
	background-size: contain;
	margin: 40px 0px;
}

.footer-mobile__items {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 30px;
}

.footer-mobile__items li {
	display: inline;
	flex: 1;
	margin-right: 7px;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	text-decoration-line: underline;
	color: #ffffff;
}

.copyright-block__mobile {
	width: 219px;
	height: 14px;
	margin-bottom: 40px;
}

.copyright-block__mobile p {
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #ffffff;
}

@media (min-width: 801px) {
	div.footer-mobile {
		display: none;
	}

	.form__mobile {
		display: none;
	}
}

@media (max-width: 800px) {
	body {
		min-width: 360px;
	}

	.main__wrapper {
		background-position-x: -600px;
	}

	.header {
		margin: 0px 16px 50px;
		padding-top: 12px;
	}

	.header__logo {
		margin-left: 0px;
		width: 122px;
		height: 24px;
		background-image: url(../img/svg/logo_vector_mob.svg);
	}

	.header__nav {
		margin: 0px;
	}

	.header__list {
		align-items: center;
	}

	.header__list li:nth-child(1) {
		display: none;
	}

	.header__list li:nth-child(2) {
		display: none;
	}

	.header__nav ul li:nth-child(3) {
		margin-right: 12px;
		width: 16px;
		height: 16px;
		background-image: url(../img/svg/Night_mob.svg);
	}

	.header__nav ul li:nth-child(4) {
		background-image: url(../img/svg/profile_mob.svg);
		width: 24px;
		height: 24px;
	}

	.header__item:nth-child(4):active,
	.header__item:nth-child(4):hover {
		display: block;
		width: 24px;
		height: 24px;
		margin-right: 0px;
		background-image: url(../img/svg/profile_mob.svg);
	}

	.header__burger {
		display: block;
	}

	h1 {
		margin: 0px 12px 30px;
		font-size: 30px;
		line-height: 35px;
		font-weight: 500;
	}

	.form__desktop {
		display: none;
	}

	.form__mobile {
		margin: 0px 16px 30px 16px;
		background-color: #f5bd41;
	}

	.form-mobile__destination {
		padding: 8px;
	}

	.form-mobile__destination input {
		width: 100%;
		height: 48px;
		border: none;
		border-radius: 5px;
	}

	.date__mobile {
		display: flex;
		height: 48px;
		padding: 0px 8px 8px 8px;
	}

	.date__mobile input {
		border-radius: 4px;
		border: none;
		flex: 1;
	}

	.date__mobile input:first-child {
		margin-right: 8px;
	}

	.form-mobile__child {
		padding: 0px 8px 8px 8px;
	}

	.form-mobile__child input {
		width: 100%;
		height: 48px;
		border: none;
		border-radius: 5px;
	}

	.button__mob {
		padding: 0px 8px 8px 8px;
	}

	.button__mob button {
		width: 100%;
		height: 48px;
		border: none;
		border-radius: 5px;
		background: #3077c6;
		font-size: 19px;
		font-weight: 500;
		line-height: 23px;
		color: #fff;
	}
	div.footer {
		display: none;
	}

	.offer__wrapper {
		padding: 0;
	}

	.offer__title {
		font-size: 28px;
		line-height: 33px;
		margin-top: 24px;
	}

	.offer__title::after {
		display: none;
	}

	.items {
		flex-direction: column;
		justify-content: center;
	}

	.item-icon__text {
		margin-top: 19px;
		text-align: center;
		font-size: 15px;
		line-height: 18px;
	}

	.recommend__wrapper {
		padding: 0px 16px;
	}

	.recommend__title {
		padding-top: 40px;
		padding-bottom: 30px;
		font-size: 28px;
		line-height: 33px;
	}

	.recommend-list__wrapper {
		padding-bottom: 40px;
	}

	.recommend__list::after {
		width: 28px;
		height: 28px;
		right: -5px;
		top: 170px;
	}

	.recommend__list > li {
		width: calc(50% - 16px);
	}

	.recommend__list > li:nth-child(2)::after {
		content: "";
		position: absolute;
		background-image: url(../img/svg/arrow.svg);
		background-repeat: no-repeat;
		background-size: contain;
		width: 28px;
		height: 28px;
		right: -5px;
		top: 150px;
	}

	.recommend__list > li:nth-child(3) {
		display: none;
	}

	.recommend__list > li:last-child {
		display: none;
	}
}

/* End styles for Devices whith max-whdth 800px*/
